/*
* Author: Tim Supan
* Title: Odin-Recipes, an HTML and CSS Exercise from The Odin Project
* Date Modified: March 30, 2023
*/

/* the '*' is the CSS class selector for all elements */
* { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* outer display type vs. inner display type*/
.mainHeader { /*by default, elements like h1 use block as their outer display type: box breaks onto a new line, wdith and height properties respected */
    background-color: #BD799C;
    font-size: 80px;
    text-align: center;
    width: auto;
}

/* if outer display type: inline - this means box will NOT break into new line
 width and height properties will not apply
 elements like <span> are normally inline*/

/*inner display type dictates how elements inside that box are laid out*/
/* display: inline-block; this is used when you do not want an item to break onto a new line but wait it to respect width and height

.mainImg {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-size: 40px;
}

#mainMintChicken,
#mainLasagna,
#mainStrawberrySpinachSalad {
    width: 250px;
    height:auto;
}

.returnBtn {
    font-size: 20px;
    color: magenta;
}
